__pycache__/
*/__pycache__/
**/__pycache__/
/__pycache__
.pytest_cache/
cache/


test/
/.coveragerc
/run_tests.py
/start_test.bat
test/
/test
tests/
test/
*/tests/
*/test/
*/integration/

venv/
.venv/
.env/
.env.test

.vscode/