fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]
pydantic-settings
python-multipart
boto3==1.28.39      # AWS SDK для Python, включает S3
python-multipart    # Для загрузки файлов
httpx==0.23.3